/bootstrap/compiled.php
/vendor
/workbench
/app/config/local
/app/config/packages/*/*/local
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.idea
_ide_helper.php
*.bak
*.user
*.suo
*.sublime-project
*.phpproj
*.css.map
*.js.map
/node_modules
/public/node_modules
